.item1 div {
  background: url(../images/car1.jpg) no-repeat center center;
  background-size: cover;
}

.item2 div {
  background: url(../images/pickup02.jpg) no-repeat center center;
  background-size: cover;
}

.item3 div {
  background: url(../images/dinnercruise.jpg) no-repeat center center;
  background-size: cover;
}

.item4 div {
  background: url(../images/wakacruise.jpg) no-repeat center center;
  background-size: cover;
}

.item5 div {
  background: url(../images/aristocatcruise.jpg) no-repeat center center;
  background-size: cover;
}

.item6 div {
  background: url(../images/quicksilver.jpg) no-repeat center center;
  background-size: cover;
}

.item7 div {
  background: url(../images/balihicruise.jpg) no-repeat center center;
  background-size: cover;
}

.item8 div {
  background: url(../images/yoga.jpg) no-repeat center center;
  background-size: cover;
}

.item9 div {
  background: url(../images/rimbacooking.jpg) no-repeat center center;
  background-size: cover;
}

.item10 div {
  background: url(../images/rafting01.jpg) no-repeat center center;
  background-size: cover;
}

.item11 div {
  background: url(../images/ayungriver.jpg) no-repeat center center;
  background-size: cover;
}

.item12 div {
  background: url(../images/whitewaterrafting.jpg) no-repeat center center;
  background-size: cover;
}

.item13 div {
  background: url(../images/waterpark.jpg) no-repeat center center;
  background-size: cover;
}

.item14 div {
  background: url(../images/night_safari.jpg) no-repeat center center;
  background-size: cover;
}

.item15 div {
  background: url(../images/zoopark.jpg) no-repeat center center;
  background-size: cover;
}

.item16 div {
  background: url(../images/golf.jpg) no-repeat center center;
  background-size: cover;
}

.item17 div {
  background: url(../images/hadara_golf.jpg) no-repeat center center;
  background-size: cover;
}

.item18 div {
  background: url(../images/snorcling.jpg) no-repeat center center;
  background-size: cover;
}

.item19 div {
  background: url(../images/watersports.jpg) no-repeat center center;
  background-size: cover;
}

.item20 div {
  background: url(../images/tulamben.jpg) no-repeat center center;
  background-size: cover;
}

.item21 div {
  background: url(../images/kutasurfing.jpg) no-repeat center center;
  background-size: cover;
}

.item22 div {
  background: url(../images/banjarspa.jpg) no-repeat center center;
  background-size: cover;
}

.item23 div {
  background: url(../images/jasmin_spa.jpg) no-repeat center center;
  background-size: cover;
}

.item24 div {
  background: url(../images/dala_spa.jpg) no-repeat center center;
  background-size: cover;
}

.item25 div {
  background: url(../images/jimbaran01.jpg) no-repeat center center;
  background-size: cover;
}

.item26 div {
  background: url(../images/purnama.jpg) no-repeat center center;
  background-size: cover;
}

.item27 div {
  background: url(../images/ubud_swing.jpg) no-repeat center center;
  background-size: cover;
}

.item28 div {
  background: url(../images/cycling.jpg) no-repeat center center;
  background-size: cover;
}

.item29 div {
  background: url(../images/snap.jpg) no-repeat center center;
  background-size: cover;
}

.item30 div {
  background: url(../images/mulia_wedding.png) no-repeat center center;
  background-size: cover;
}

.item31 div {
  background: url(../images/hillton_wedding.jpg) no-repeat center center;
  background-size: cover;
}